.nav-list {
  right: 0px;
  display: flex;
  width: 300px;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
}

.nav-item {
  text-decoration: none;
  color: #000000;
  flex-basis: 15%;
}

.active, .nav-item:hover {
  text-decoration: none;
  color: #4e7abf;
}

#footer-link {
  text-decoration: none;
  font-size: .9rem;
  color: #000000;
}

.active, #footer-link:hover {
  text-decoration: none;
  font-size: .9rem;
  color: #4e7abf;
}

.footer-text {
  font-size: .9rem;
}

.header {
  background: #2cc6e8;
  text-align: center;
}

.header-name {
  color: #ffffff;
}
